In [ ]:
import numpy as np

In [ ]:
def multipli_mat(A,B):
  
    C = np.zeros((3,3),dtype = int)
   
    for i in range(len(B)): 
        for j in range(len(B)):
            for k in range(len(B)):
              C[i, j] += A[i, k] * B[k, j]
    return C

3

In [ ]:
x = np.array([[1, 0,0],
             [5, 1,0],
             [-2,3,1]]) 

y = np.array([[4,-2,1],
             [0, 3,7],
             [0,0, 2]])

multipli_mat(x,y)

array([[ 4, -2,  1],
       [20, -7, 12],
       [-8, 13, 21]])